Pillow
build123d
exceptiongroup
fastapi
google-genai
mediapipe
mss
mutagen
opencv-python
playwright
psutil
pyaudio
pyautogui
pydantic
python-dotenv
python-socketio
taskgroup
uvicorn
zeroconf
aiohttp
chess
google-auth
google-auth-oauthlib
google-api-python-client
kasa
numpy
requests
python-vlc