GEMINI_API_KEY=YOUR_API_KEY
OPENWEATHER_API_KEY=YOUR_API_KEY
EMAIL_ADDRESS=YOUR_EMAIL
EMAIL_IMAP=imap.gmail.com
EMAIL_IMAP_PORT=993
MUSIC_FOLDER_PATH=YOUR_MUSIC_FOLDER_PATH
USER_NAME=YOUR_NAME
USER_KNOWN_AS=Sir
OS=Windows
