GEMINI_API_KEY=YOUR_API_KEY
OPENWEATHER_API_KEY=YOUR_API_KEY
EMAIL_ADDRESS=MahanBiabani12@gmail.com
EMAIL_IMAP=imap.gmail.com
EMAIL_IMAP_PORT=993
MUSIC_FOLDER_PATH=YOUR_MUSIC_FOLDER_PATH
USER_NAME=Mahan
USER_KNOWN_AS=Sir
OS=Windows
